<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/layouts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <title>Restaurant List</title>
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="好。吃">
          {{#if isAuthenticated}}{{ user.name}}的{{/if}}餐廳清單
        </a>
        {{#if isAuthenticated}}
        <div class="d-flex justify-content-end">
          <a href="/users/logout"><button class="btn btn-primary" type="submit">Logout</button></a>
        </div>
        {{else}}
        <div class="d-flex justify-content-end">
          <a href="/users/login"><button class="btn btn-primary" type="submit">Login</button></a>
        </div>
        {{/if}}
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  {{{ body }}}

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">確認刪除</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          確定要刪除嗎？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="confirmDeleteBtn">刪除</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('confirmDeleteBtn')
      .addEventListener('click', function () {
        document.getElementById('deleteForm').submit();
      });
  </script>

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>