<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">

      <form action="/restaurants" method="POST">

        <h6 class="my-2">餐廳名稱：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="請輸入餐廳名稱..." name="name" id="name">
        </div>

        <h6 class="my-2">餐廳英文名：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="請輸入餐廳英文名..." name="name_en" id="name_en">
        </div>

        <h6 class="my-2">餐廳類別：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="請輸入餐廳類別..." name="category" id="category">
        </div>

        <h6 class="my-2">參考圖片：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="請輸入參考圖片網址..." name="image" id="image">
        </div>

        <h6 class="my-2">地址：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="請輸入餐廳地址..." name="location" id="location">
        </div>

        <h6 class="my-2">電話：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="請輸入餐廳電話..." name="phone" id="phone">
        </div>

        <h6 class="my-2">Google Map：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..." name="google_map" id="google_map">
        </div>

        <h6 class="my-2">評分：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="請輸入評分..." name="rating" id="rating">
        </div>

        <h6 class="my-2">介紹：</h6>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="請輸入餐廳介紹..." name="description" id="description">
        </div>

        <div class="d-md-flex justify-content-md-end">
          <button class="btn btn-success mt-3 mx-2 " type="submit">新增</button>
          <a href="/"><button class="btn btn-secondary mt-3" type="button">返回首頁</button></a>
        </div>

      </form>
    </div>
  </div>
</div>